<!DOCTYPE html>
<html>
  <head>
    <title>Gsebold</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#* Import fonts  %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <%#* Import icons %>
    <%= stylesheet_link_tag "icomoon", "data-turbo-track": "reload" %>

    <%#* Main css styles %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%#* Favicon %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
    <%= javascript_include_tag "header.js", "data-turbo-track": "reload" %>
  </body>
</html>
